#container {padding: 0px; margin: 10px;}
h1 {text-align: center;margin-bottom:20px;}
h2 {text-align: center;margin-bottom: 60px;margin-top: 20px;}

h3, h4 {text-align: left; margin: 0px;}
th, td {text-align: left;padding: 10px 10px 10px 10px;}
table {margin: 50px auto 50px auto; border-collapse:collapse;}
em {color: blue;}
.nom {color: green;}
.akk {color: purple;}
.dat {color: red;}
.gen {color: orange;}

tr.border {
    border-bottom: 1px solid #000;
}
th.top {text-align: center; background: linear-gradient(-90deg,#5B6870, #7CA6C0);padding-top: 10px; padding-bottom: 10px;}

td.longtext {max-width:400px;}

.double-spaced {line-height: 200%;}
.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    margin-bottom:20px;
}
.left {text-align: right;}

.d {
    margin-left: 10px;
    font-style: italic;
}

@media only screen and (max-width: 1100px) {

    .columns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: relative;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #B1810B;
}

dd {margin: 15px 0px 15px 150px;}

dt {margin: 15px 0px 15px 0px;}
