#container {padding: 25px; margin: 70px;}
h1 {text-align: center;}
h2, h3, h4 {text-align: left; margin-top: 50px; margin-bottom: 50px;}
th, td {text-align: left;padding-right: 25px; padding-top: 25px;}
td {border-bottom: 0.5pt solid black;}
table {margin: 50px auto 50px auto; border-collapse:collapse;}
em {color: blue;}
.nom {color: green;}
.akk {color: purple;}
.dat {color: red;}
.gen {color: orange;}

th.top {text-align: center; background-color:#BEBEBE;padding-top: 10px; padding-bottom: 10px;}
td.longtext {max-width:400px;}

.columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
}
.left {text-align: right;}

dl {
    display: float;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

dt { 
    display: float;
}
